<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShoesStoreEntities" connectionString="metadata=res://*/DTO.shoeStore.csdl|res://*/DTO.shoeStore.ssdl|res://*/DTO.shoeStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-101QR58;initial catalog=ShoesStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>